/* Grid areas */

input {
    grid-area: display;
}

button:nth-child(2) {
    grid-area: clear;
}

button:nth-child(3) {
    grid-area: delete;
}

button:nth-child(4) {
    grid-area: percentage;
}

button:nth-child(5) {
    grid-area: divide;
}

button:nth-child(6) {
    grid-area: n7;
}

button:nth-child(7) {
    grid-area: n8;
}

button:nth-child(8) {
    grid-area: n9;
}

button:nth-child(9) {
    grid-area: multiply;
}

button:nth-child(10) {
    grid-area: n4;
}

button:nth-child(11) {
    grid-area: n5;
}

button:nth-child(12) {
    grid-area: n6;
}

button:nth-child(13) {
    grid-area: minus;
}

button:nth-child(14) {
    grid-area: n1;
}

button:nth-child(15) {
    grid-area: n2;
}

button:nth-child(16) {
    grid-area: n3;
}

button:nth-child(17) {
    grid-area: plus;
}

button:nth-child(18) {
    grid-area: period;
}

button:nth-child(19) {
    grid-area: n0;
}

button:nth-child(20) {
    grid-area: equal;
}